/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  scroll-behavior: smooth;
}
*
{
  box-sizing: border-box;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #222;
}

/* * * * BUTTON * * * */
.button
{
  text-decoration: none;
  text-transform: capitalize;
  color: #263238;
  border: 2px solid #263238;
  border-radius: 5px;
}
.button:hover
{
  opacity: 0.8;
}
.button:active
{
  opacity: 0.6;
}
.button-black
{
  color: #fff;
  background-color: #263238;
}
.button-grid {
  padding: 15px 51px;
}

img
{
  max-width: 100%;
  height: auto;
}
/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1400px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
}
/* * * HEADER * * */
.site-header
{
  padding-top: 50px;
}
.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-logo {
  display: flex;
}
.site-header-logo:hover
{
  opacity: 0.8;
}
.site-header-logo:active
{
  opacity: 0.6;
}
.sitenav-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.sitenav-item {
  list-style: none;

}
.sitenav-item:not(:last-child)
{
  margin-right: 24px;
}
.sitenav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #263238;
}
.sitenav-link:hover
{
  opacity: 0.8;
}
.sitenav-link:active
{
  opacity: 0.6;
}
.site-header-main-link {
  background-color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  color: #263238;
  border: 2px solid #263238;
  border-radius: 5px;
  padding: 12px 40px;
  transition: 0.4s ease;
  cursor: pointer;
}
.site-header-main-link:hover
{
  background-color: #263238;
  color: #fff;
}
.site-header-main-link:active
{
  background-color: #263238;
  color: #fff;
  opacity: 0.6;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}
/* * hero * */
.hero {
  margin-bottom: 100px;
}
.hero-container {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}
.hero-content {
  padding-top: 40px;
}
.hero-heading {
  position: relative;
  display: flex;
  width: 386px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 27px;
}
.hero-heading::after{
  display: flex;
  content: "";
  width: 85px;
  height: 85px;
  background-image: url(../img/Group.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 522px;
  top: 68px;
}
.hero-text {
  width: 632px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #8F95A5;
  margin-bottom: 33px;
}
.button-hero {
  display: inline-block;
  padding: 22px 78px;
}
.hero-img
{
  display: flex;
  width: 661px;
  height: 661px;
}

/* * * skills * * */
.skills {
  margin-bottom: 250px;
}
.skills-heading {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  margin-bottom: 95px;
}
.skills-grid {
  display: grid;
  grid-template-columns: 435px 435px 435px;
  grid-gap: 20px;
}
.skills-grid-item {
  background-color: #F5F5F5;
  border-radius: 10px;
}

.card-3 .skills-grid-item-img{
  margin-bottom: 55px;
}
.skills-grid-item-title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 80px;
  text-transform: capitalize;
  color: #263238;
  margin: 0;
  padding: 0;
}
.skills-grid-item-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: #8F95A5;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  flex-grow: 1;
}

.card-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 35px 22px 92px;
}
.card-2 {
  padding: 5px 20px 44px 40px;
}
.card-3 {
  padding: 5px 40px 44px;
}
.card-4 {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: row-reverse;
  padding: 43px 25px 44px 44px;
}

/* * * about us * * */
.about-us {
  margin-bottom: 190px;
}
.about-us-inner {
  display: flex;
  justify-content: space-between;
}
.about-us-content {
  max-width: 635px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.about-us-heading {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}
.about-us-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #8F95A5;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.about-us-info
{
  display: flex;
  justify-content: space-between;
}
.about-us-info-item
{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quantity {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  color: #2A3246;
}
.items {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #8F95A5;
}

/* * * * PRICING SECTION * * * */
.pricing {
  margin-bottom: 250px;
}
.pricing-heading {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}
.pricing-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.pricing-list-item {
  width: calc(100% / 3);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-list-item:not(:last-child)
{
  margin-right: 20px;
}
.pricing-list-item-img {
  display: flex;
}
.img-item-1 {
  width: 311px;
  height: 311px;
  margin-bottom: 29px;
}
.img-item-2 {
  width: 391px;
  height: 283px;
  margin-top: 29px;
  margin-bottom: 28px;
}
.img-item-3 {
  width: 340px;
  height: 340px;
}
.pricing-item-title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  color: #263238;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  align-self: flex-start;
}
.pricing-item-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #8F95A5;
  width: 390px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  flex-grow: 1;
  align-self: flex-start;
}
.pricing-item-price {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #EEEEEE;
  align-self: flex-start;
}
.item-cost {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  color: #263238;
  margin-right: 5px;
}
.item-period {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #546269;
}

/* * * * CONTACT US * * * */
.contact-us {
  margin-bottom: 135px;
}
.contact-us-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-us-img {
  display: flex;
  width: 477px;
  height: 429px;
}
.contact-us-heading {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.contact-us-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #8F95A5;
  width: 775px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.contact-us-input {
  width: 450px;
  padding: 25px 30px;
  border: 1px solid #8F95A5;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8F95A5;
}
.button-submit {
  padding: 21px 80px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  border-radius: 10px;
}

/* * * * FOOTER * * * */
.site-footer {
  padding-bottom: 55px;
}
.site-footer-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #C4C4C4;
}
.site-footer-logo:hover {
  opacity: 0.8;
}
.site-footer-logo:active {
  opacity: 0.6;
}
.sitenav-footer-list {
  display: flex;
  align-items: center;
}
.sitenav-footer-item {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #8F95A5;
}
.sitenav-footer-item:first-child
{
  list-style: none;
}
.sitenav-footer-item:not(:last-child)
{
  margin-right: 30px;
}
.site-footer-link {
  text-decoration: none;
  color: #8F95A5;
}
.site-footer-link:hover
{
  color: #263238;
}
.site-footer-link:active
{
  opacity: 0.4;
}