:root
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}
/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1400px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid red;
}

/* * * HEADER * * */
.container {
}
.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-logo {
  display: flex;
}
.site-header-logo:hover
{
  opacity: 0.8;
}
.site-header-logo:active
{
  opacity: 0.6;
}
.sitenav-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.sitenav-item {
  list-style: none;

}
.sitenav-item:not(:last-child)
{
  margin-right: 24px;
}
.sitenav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #263238;
}
.site-header-main-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #263238;
  border: 2px solid #263238;
  border-radius: 5px;
  padding: 12px 40px;
}
















/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}